*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

#wrapper{
	width: 980px;
	height: 1200px;
	border: solid 1px black;
}

.navbar{
	display: inline-block;
	width: 100%;
	border: solid 1px orange;
	color: white;
	background-color: black;
}

.navbar h2{
	display: inline-block;
	width: 250px;
	margin: 10px 10px 5px 20px;
}

.navbar ul{
	display: inline-block;
	width: 400px
}

.navbar li{
	display: inline-block;
	list-style: none;
	margin-left: 5px;
}
.navbar a{
	text-decoration: none;
	color: white;
}