*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	vertical-align: 
}

#wrapper{
	width: 1100px;
	height: 1200px;
	border: solid 1px black;
	background-color: #5d5d5d2b;
}

a{
	text-decoration: none;
	color: black;
	font-weight: 700;
}


.navbar{
	display: inline-block;
	width: 100%;
	border: solid 1px orange;
	color: white;
	background-color: black;
}

.navbar h2{
	display: inline-block;
	width: 200px;
	margin: 15px 10px 5px 10px;
}

.navbar ul{
	display: inline-block;
	width: 450px;
	margin-right: 20px;
}

.navbar li{
	display: inline-block;
	list-style: none;
	margin-left: 2px;
	font-size: 14px;
}

.navbar ul h2{
	display: inline-block;
	width: 3px;
	font-weight: 100;
	color: grey;
	margin: 0px 5px;
}
.navbar a{
	color: white;
}

.social{
	display: inline-block;
	height: 40px;
	padding-right: 5px;
}

.social img{
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: text-top;
}

.navbar input{
	display: inline-block;
	padding: 5px;
    margin-top: 20px;
    vertical-align: top;
}
.navbar p{
	font-size: 14px;
	display: inline-block;
}

#main_page{
	display: inline-block;
	width: 100%;	color: #232323e6;
	padding-top: 20px;
}


.feature1{
	display: inline-block;
	width: 33%;
	margin-left: 50px;
	height: 500px;
	border-right: solid .5px grey;
	padding-right: 30px;
}

.feature1 img{
	display: inline-block;
	width: 100%;
	height: 50%;
	object-fit: contain;
}

.tag{
	color: green;
	font-weight: 700;
	text-decoration: none;
}

.author{
	color: purple;
	font-weight: 700;
	text-decoration: none;
}

#legal{
	font-size: 8px;
}
#legal a{
	color: #232323e6;
}

.right_block{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}


.feature2{
	display: inline-block;
	width: 100%;
	height: 150px;
	margin-left: 30px;
	vertical-align: top;
}

.feature2 img{
	display: inline-block;
	width: 40%;
	height: 100%;
	object-fit: contain;
}
.feature2 .text_box{
	display: inline-block;
	margin: 5px;
	width: 50%;
	vertical-align: top;
	margin-bottom: 10px;
	padding-right: 10px;
}
.text_box .tag{
	display: inline;
	vertical-align: top;
}
.text_box p{
	display: inline;
}

.now_playing{
	display: inline-block;
	width: 100%;
	margin-left: 30px;
	border-top: solid .5px grey;
	padding: 10px 0px 10px 0px;
	margin-top: 20px;
}

.now_playing h2{
	margin-left: 2%;
}

.now_playing .text_box{
	display: inline-block;
	width: 45%;
	margin: 1% 2%;
}

.now_playing h5{
	margin: 5px 5px 5px 75%;
}

.classics{
	display: inline-block;
	width: 90%;
	margin: 5%;
	border-top: solid .5px grey;
	padding-top: 30px;
}



.film_square{
	display: inline-block;
	width: 30%;
	margin: 10px 5px;
	padding: 0px 5px;
}

.film_square img{
	display: inline-block;
	width: 100%;
	height: 300px;
	object-fit: contain;
}